<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <form id="otp_form" action="/" method="post" accept-charset="utf-8">

        <input placeholder="Please submit your One time password"
               type="text"
               name="otp_value"
        >
        <button type="submit">Submit</button>

    </form>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>

    <script charset="utf-8">

        /* let headers = {
            "Accept": "application/json",
            "Content-Type": "application/json"
        }

        form.addEventListener("submit", event => {

            event.preventDefault()

            return fetch("/", {
                headers,
                method: "POST",
                body: JSON.stringify({
                    otp_value: otp_val.value
                })
            })
            .then( res => res.json() )
            .then( () => otp_val.value = "")

        })*/

    </script>

</body>
</html>
